en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
Flask==3.0.3
Flask_Cors==4.0.0
numpy==1.24.3
opencv_python==4.8.0.74
setuptools==65.5.0
symspellpy==6.7.7
tensorflow==2.13.0
tensorflow_macos==2.13.0
